.imagen-uniforme {
    width: 200px; /* Ancho uniforme */
    height: 200px; /* Alto uniforme */
    overflow: hidden; /* Oculta las partes sobrantes de la imagen */
    display: flex; /* Centra la imagen si es necesario */
    justify-content: center;
    border: 11px solid antiquewhite; /* (Opcional) Para visualizar los bordes del contenedor */
}

.imagen-uniforme img {
    width: 100%; /* Asegura que la imagen llene el contenedor */
    height: 100%; /* Asegura que la imagen llene el contenedor */
    object-fit: cover; /* Recorta la imagen y ajusta sin deformarla */
}
.foto_principal{
   
    max-width: 100%;
    height: auto;
    padding-top: 100px;
}

/*project*/
.img_card_1{
    width: 68%; /* Asegura que la imagen llene el contenedor */

}






.img_card_python{
    width: 80%; /* Asegura que la imagen llene el contenedor */

}



/* proyect card certification */
.img_card{
    width:  75%; /* Asegura que la imagen llene el contenedor */
    
}
.img_cardC{
    width: 80%; /* Asegura que la imagen llene el contenedor */
    
}